@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Light mode */
body {
  background-color: white;
  color: black;
}

/* Dark mode */
.dark body {
  background-color: black;
  color: white;
}

/* globals.css */
.svg-pink {
  fill: pink;
}

/* In your CSS file */
.light .dark-mode-icon {
  fill: #ffffff;
}

.dark .dark-mode-icon {
  fill: #ffffff; /* Dark mode color */
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 210.06117248535156px;
    stroke-dasharray: 210.06117248535156px;
  }

  100% {
    stroke-dashoffset: 420.1223449707031px;
    stroke-dasharray: 210.06117248535156px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 210.06117248535156px;
    stroke-dasharray: 210.06117248535156px;
  }

  100% {
    stroke-dashoffset: 420.1223449707031px;
    stroke-dasharray: 210.06117248535156px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s ease-in-out 1s both;
  animation: animate-svg-stroke-1 1s ease-in-out 1s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 798.271240234375px;
    stroke-dasharray: 798.271240234375px;
  }

  100% {
    stroke-dashoffset: 1596.54248046875px;
    stroke-dasharray: 798.271240234375px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 798.271240234375px;
    stroke-dasharray: 798.271240234375px;
  }

  100% {
    stroke-dashoffset: 1596.54248046875px;
    stroke-dasharray: 798.271240234375px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s ease-in-out 1.12s both;
  animation: animate-svg-stroke-2 1s ease-in-out 1.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 4px;
    stroke-dasharray: 2px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 4px;
    stroke-dasharray: 2px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s ease-in-out 1.24s both;
  animation: animate-svg-stroke-3 1s ease-in-out 1.24s both;
}

/* CSS for the overlay */
.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%; /* Adjust the width as needed */
  height: 100%;
  background-color: rgba(23, 107, 135, 1); /* Semi-transparent background */
  transform: translateX(100%); /* Hidden off-screen to the right */
  transition: transform 0.3s ease-out; /* Smooth transition */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the button to the bottom */
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

.nav-overlay.open {
  transform: translateX(0); /* Slide in from the right */
}

/* Hamburger menu with increased z-index when open */
.md\:hidden {
  cursor: pointer;
  z-index: 2; /* Default z-index */
}

.md\:hidden.open {
  z-index: 5; /* Increased z-index when open */
}

/* Hamburger menu lines */
.md\:hidden > div {
  transition: all 0.3s ease;
}

/* Top line of the hamburger menu */
.md\:hidden > div:nth-child(1) {
  transform-origin: center;
}

/* Middle line of the hamburger menu */
.md\:hidden > div:nth-child(2) {
  transform-origin: center;
}

/* Bottom line of the hamburger menu */
.md\:hidden > div:nth-child(3) {
  transform-origin: center;
}

/* Animation for the hamburger menu to become a cross */
.md\:hidden.open > div:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.md\:hidden.open > div:nth-child(2) {
  opacity: 0;
  transition: none !important; /* Ensures no transition */
}

.md\:hidden.open > div:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Hamburger menu with increased z-index when open */
.md\:hidden {
  cursor: pointer;
  z-index: 2; /* Default z-index */
}

.md\:hidden.open {
  z-index: 5; /* Increased z-index when open */
}

/* CSS for the close button */
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

/* globals.css */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header stays on top of other content */
  overflow: visible;
}

.pink-svg {
  filter: hue-rotate(300deg); /* Adjust the degree value as needed */
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px); /* Adjust the value as needed */
  }
}

.animate-moveDown {
  animation: moveDown 2s infinite alternate ease-in-out; /* Adjust the duration as needed */
}

.globe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px; /* Adjust based on your desired height */
}

.triangle-bg-svg {
  position: absolute;
  top: 0; /* Keeps it at the top */
  left: auto;
  right: 0;
  width: 100%; /* Adjust based on your needs */
  height: 100%; /* Adjust based on your needs */
  z-index: 1;
  border-radius: 20px;
  transform: scaleXS(-1);
}

.dark-mode .triangle-bg-svg path:first-child {
  fill: #001822;
}

.light-mode .triangle-bg-svg path:first-child {
  fill: #f8f8f8;
}

.icon-container {
  transition: transform 0.3s;
  transform: translate(2px, -2px);
}
